#tab {
    height: 465px;
    
}
.navbar-custom {
    padding-left: 10px;
}
/* .nav-font{
    fon
} */
.flex-sm-fill .text-sm-center .nav-link .nav-font {
    color: black;
}
.container1 {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container1 img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container1 span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container1 {
        text-align: center;
    }
    .container1 img {
        margin: auto;
        float: none;
        display: block;
    }
  }

.rowContainer{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
}

.rowContainer::-webkit-scrollbar {
  display: none;
}

.rowMenuCard{
  width: 80px;
  min-width: 80px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  cursor: pointer;
  margin-right: 12px;
}

.rowMenuCard:hover, 
.rowMenuCard.active {
  background: gray;
}

.rowMenuCard .loadMenu {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  background: gray;
  transition: 0.5s;
}

.rowMenuCard .loadMenu .MuiSvgIcons-root{
  font-size: 14px;
}

.dishitemContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}
.itemCard{
  width: 160px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.itemContent{
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 10px;
  padding-top: 50px;
  width: 100%;
}
.itemContent .itemName{
  font-size: 16px;

}
.itemContent .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemContent .bottom .rating .MuiSvgIcons-root{
  font-size: 16px;
}
.itemContent .bottom .price{
  font-size: 16px;
}
.itemContent .bottom .price span{
  color: gray;
  font-size: 12px;
}
.itemContent .addtoCart{
  background: gray;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.itemContent .addtoCart .MuiSvgIcons-root{
  color: #faf9fb;
  font-size: 16px; 
}
.isfavourite{
  position: absolute;
  top: 80px;
  right: 10px;
  transition: 0.5s;
}
.isfavourite .MuiSvgIcons-root{
  font-size: 18px;
  color: #ff000088; 
}
.isfavourite.active .MuiSvgIcons-root{
  color: #ff0000;
  filter: drop-shadow(0px 0px 8px #ff0000); 
}

.rightMenu{
  width: 350px;
  height: calc(100% - 55px);
  background: gray;
  position: fixed;
  right: 0;
  top: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  transform: translateX(200%);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1); 
}

.rightMenu.active{
  transform: translateX(0%);
}

.cartCheckOutContainer{
  width: 100px;
  min-width: 320px;
}

.cartContainer{
  width: 100%;
  min-height: 150px;
  max-height: 280px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cartContainer::-webkit-scrollbar{
  display: none;
}

.cartItem{
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.cartItem .itemSection {
  margin-left: 10px;
}
.cartItem .itemSection .itemName{
  font-size: 16px;
  color: black;
}
.cartItem .itemSection .itemQuantity{
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.cartItem .itemSection .itemQuantity span{
  color: #fff; 
}
.cartItem .itemSection .itemQuantity .quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
}
.cartItem .itemSection .itemQuantity .quantity .itemRemove,
.cartItem .itemSection .itemQuantity .quantity .itemAdd{
  color: black;
  font-size: 24px;
}

.cartItem .itemPrice{
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-left: auto;
}

.cartItem .itemPrice .dolorSign{
  font-size: 12px;
  color: black;
}
.cartItem .itemPrice .itemPriceValue{
  font-size: 16px;
  color: black;
}

.totalSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  margin: 15px 0px;
}
.totalSection h3{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.totalSection p{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.totalSection p span{
  font-size: 14px;
  color: black;
}

.checkOut{
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: #ff0000;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}